---
const  { ImagenPrin } = Astro.props;
const  { Imagen2 } = Astro.props;
const  { Imagen3 } = Astro.props;
const  { Imagen4 } = Astro.props;
const  { Imagen5 } = Astro.props;
const  {Sourc} = Astro.props;
---

<div style="margin-left: 295px; padding-top: 55px; display: flex;">
  <a href={Sourc}>
    <img src={ImagenPrin} style="border-radius:6% ;border: solid 8px blue; width: 370px; height: 230px;" alt="">
  </a>

  <div>
    <div>
      <div style="padding-left: 5px; padding-top:10px;display: flex;">
        <a href={Sourc} style=" width:180px;" >
          <img src={Imagen2} alt="">
        </a>
        <a style="padding-left: 5px; width:180px;" href="#">
          <img src={Imagen3} alt="">
        </a>
      </div>
      <div style="padding-left: 5px; padding-top: 10px; display: flex;">
        <a href={Sourc} style=" width:180px;">
          <img src={Imagen4} alt="">
        </a>
        <a  href={Sourc} style=" width:180px;">
          <img src={Imagen5} alt="">
        </a>
      </div>
    </div>
  </div>
</div>
